<!-- views/profile.ejs -->
<!doctype html>
<html>

    <p class = "aligncenter">
        <img src="logo.jpg" width = "500"/>
    </p>
    <head>
        <title>Cheap Date</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>

    <body>
        <div class="container">

            <div class="page-header text-center">
                <h1>Profile Page</h1>
                <a href="/logout" class="btn btn-default btn-sm">Logout</a>
            </div>

            <div class="row">
                <!-- local info -->
                <div class="col-sm-6">
                    <div class="well">
                        <h3> Local User Info</h3>
                        <p>
                            <strong>id</strong>: <%= user.id %><br>
                            <strong>email</strong>: <%= user.local.email %><br>
                            <strong>password</strong>: <%= user.local.password %>
                        </p>

                    </div>
                </div>
            </div>

            <div class="row">
                <!-- google info -->
                <div class="col-sm-6">
                    <div class="well">
                        <h3 class="text-danger"> Google User Info</h3>
                        <p>
                            <strong>id</strong>: <%= user.google.id %><br>
                            <strong>token</strong>: <%= user.google.token %><br>
                            <strong>email</strong>: <%= user.google.email %><br>
                            <strong>name</strong>: <%= user.google.name %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>